
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Attendance Dashboard | By Code Info</title>
  <link rel="stylesheet" href="/stylesheets/cadastro_veiculo.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>

</head>
<body>
<div class="login-container">
<h2>Cadastro Veiculos</h2>
<form action="/cadastro_veiculo" method="post">
  <div class="input-group">
    <label for="username">Marca</label>
    <input type="text" id="username" name="Nome" required> 
  </div>
  <div class="input-group">
    <label for="password">Cor</label>
    <input type="text" id="password" name="Cor" required> 
  </div>
  <div class="input-group">
    <label for="password">Placa</label>
    <input type="text" id="password" name="Placa" required> 
  </div>
  <div class="input-group">
    <label for="password">Modelo</label>
    <input type="text" id="password" name="Modelo" required> 
  </div>

  <div class="input-group">
    <label for="password">Quilometragem</label>
    <input type="text" id="password" name="Quilometragem" required> 
  </div>



  <div class="input-group">
    <button type="submit">Entrar</button>
  </div>
</form>
</div>
  

</body>
</html>