
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Attendance Dashboard | By Code Info</title>
  <link rel="stylesheet" href="/stylesheets/funcionarios.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>
</head>
<body>
  <div class="container">
    <nav>
      <ul>
        <li><a href="#" class="logo">
          
          <span class="nav-item">Admin</span>
        </a></li>
        <li><a href="/ordem_servico">
        <i class="fas fa-tasks"></i>
          <span class="nav-item">Ordem de Serviço</span>
        </a></li>
        <li><a href="/home">
        <i class="fas fa-tools"></i>
          <span class="nav-item">Seviço</span>
        </a></li>
        <li><a href="/funcionarios">
          <i class="fas fa-database"></i>
          <span class="nav-item">Funcionario</span>
        </a></li>
        <li><a href="/clientes">
        <i class="fas fa-address-card"></i>
          <span class="nav-item">Clientes</span>
        </a></li>
        <li><a href="/pecas">
        <i class="fas fa-wrench"></i>
          <span class="nav-item">Peças</span>
        </a></li>

        <li><a href="/veiculos">
        <i class="fas fa-car"></i>
          <span class="nav-item">Veiculos</span>
        </a></li>

        <li><a href="/equipe">
        <i class="fas fa-users"></i>
          <span class="nav-item">Equipes</span>
        </a></li>

        <li><a href="#" class="logout">
          <i class="fas fa-sign-out-alt"></i>
          <span class="nav-item">Log out</span>
        </a></li>
        
      </ul>
    </nav>


    <section class="main">
      <div class="main-top">
        <h1>Funcionario</h1>
        
      </div>

      <section class="attendance">
        <div class="attendance-list">
          <div class="Menu">
          <h1>Mecânico</h1>
            <a href="/cadastro_funcionario">
              <i class="fas fa-user-cog"></i>
            </a>
          </div>

          <table class="table">
            <thead>
              <tr>
                <th>Nome</th>
                <th >Enderenço</th>
                <th>Especializade</th>  
              </tr>
            </thead>
            <tbody>
            <% funcionarios.each do |funcionario| %>
              <tr>
                <td><%= funcionario.Nome %></td>
                <td><%= funcionario.Enderenco %></td>
                <td><%= funcionario.Especialidade %></td>
              </tr>
            <% end %>
             <tr>
              
            </tbody>
          </table>
        </div>
      </section>
      </section>
  </div>

</body>
</html>